services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - ./postgres_data/:/var/lib/postgresql/data/

  app:
    image: ghcr.io/junkidesu/learning-junkie-api:main
    # build: .
    ports:
      - 3003:3003
    depends_on:
      - db
      - codex
      - minio
    links:
      - db
      - codex 
      - minio
    env_file: "./.env"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - HASKELL_ENV=${HASKELL_ENV}
      - BUCKET_NAME=${BUCKET_NAME}
      - SERVER_URL=${SERVER_URL}

  codex:
      image: ghcr.io/junkidesu/learning-junkie-codex:main
      expose:
        - "3001"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    expose:
        - "9000"
        - "9001"
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./minio_data:/data

