@media print {
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    print-color-adjust: exact;
  }
}

@media screen {
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #certificate-body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 242, 247);
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
  }

  #university {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5mm;
  }

  #university-logo {
    border-radius: 100%;
  }

  #certificate-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 34;
  }

  #certificate-center {
    margin: 0 auto;
    font-size: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #certificate-center b {
    font-size: 45;
    margin: 10mm;
  }

  #course-title {
    font-style: italic;
    font-weight: bold;
  }

  #signatures {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .signature {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .name {
    font-size: 20;
    text-decoration: underline;
  }

  .affiliation {
    font-size: 13;
  }

  #certificate-id {
    font-size: 10;
  }

  #completion-date {
    margin: 10mm;
    font-size: 20;
    font-weight: bold;
  }

  #certificate-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
